.TableContainer{
    width: 100%;
}

.StudentsAddButton{
    right:0;
    margin: 10px;
}

.AddButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.AddButtonContainer a{
    text-decoration: none;
}